body{
    background-color: rgb(201, 189, 29);
}

.main{
    background-color: aliceblue;
    padding: 30px;
    margin:50px auto;
    border-radius: 10px;
    max-width: 600px;
    box-shadow: 0 0 10px rgb(228, 25, 10) ;


}

.main h1{
    font-size: 20 px;
    text-align: center;
}

.form{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.form input[type="text"]{
    height: 40px;
    min-width: 80%;
    border: 1px solid rgb(11, 12, 12);
    padding: 0 20px;
}

.form button[type="text"]{

    height: 40px;
    min-width: 80%;
    border: 1px solid rgb(228, 25, 10);
    align-items: center;
    justify-content: center;

}

.form button[type="submit"]{

    background-color: rgb(221, 133, 18);
    color: aliceblue;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

}

li{
    align-items: center;
    justify-content: center;
    text-align: center;
    list-style: none;

}
ul{
    padding: 0;
}